/* your styles go here */
.content-column-content p,
.content-column-content li {
  color: #444444;
}
.sidebar-p {
  color: #666666;
  font-size: 14px;
}

.box-masonry .box-masonry-text p {
  color: #666666;
  font-size: 14px;
}

.box-masonry-featured {
  background: #fff;
  box-shadow: 0 0 8px rgba(72, 119, 158, 0.36);
}

.box-masonry-featured .box-masonry-text {
  background: #dff0ff;
  border-top: 1px solid #91c0e4;
  box-shadow: inset 4px 0 0 rgba(72, 144, 198, 0.42);
}

.box-masonry-featured:hover {
  box-shadow: 0 0 11px rgba(62, 105, 140, 0.5);
}

.box-masonry-featured:hover .box-masonry-text {
  background: #d6ebff;
  box-shadow: inset 4px 0 0 rgba(72, 144, 198, 0.58);
}

.sidebar-heading {
    font-size: 14px;
}
