<p class="social">
  {{ with .Site.Params.social.facebook }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external facebook" aria-label="Facebook">
    <i class="fa fa-facebook"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.googleplus }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external gplus" aria-label="Google Plus">
    <i class="fa fa-google-plus"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.twitter }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external twitter" aria-label="X">
    <i class="fa fa-twitter"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.instagram }}
  <a href="{{ . }}" class="external instagram" aria-label="Instagram">
    <i class="fa fa-instagram"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{ . }}" data-animate-hover="pulse" class="email" aria-label="Email">
    <i class="fa fa-envelope"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.linkedin }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" aria-label="LinkedIn">
    <i class="fa fa-linkedin"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.stackoverflow }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" aria-label="Stack Overflow">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.github }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" aria-label="GitHub">
    <i class="fa fa-github"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.youtube }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" aria-label="YouTube">
    <i class="fa fa-youtube"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.whatsapp }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" aria-label="WhatsApp">
    <i class="fa fa-whatsapp"></i>
  </a>
  {{end}}
</p>
